<div class="container" style=" padding: 20px; ">
    <div class="row>
        <div class="col-xl-6 text-xs-center">
            <div class="card card-default">
                <div class="card-block">
                    .col-xl-8
                </div>
            </div>
        </div>
        <div class="col-xl-2 text-xs-center">
            <div class="card card-default">
                <button type="button" class=" card-block btn btn-info">Editar</button>
            </div>
        </div>
    </div>
</div>
