<div class="col-sm-10 grid">
  <div class="card mb-2">
      <div class="card-header">
          Apartamento
      </div>
      <div class="card-block table-responsive">
          <div class="row">
              <div class="col-sm-8">
                  <input class="form-control" type="text" placeholder="Search">
              </div>
              <div class="col-sm-4">
                  <button class="btn btn-outline-success" type="submit">Buscar</button>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-4">
                  <label class="form-control-label">Condomínio</label>
                  <select class="form-control form-control-success form-control-danger" 
                  (change)="getTowerByCondominiumId()" [(ngModel)]="condominiumId">
                      <option *ngFor="let item of listOfCondominium" value="{{ item.id }}">{{ item.name }}</option>
                  </select>
              </div>
              <div class="col-sm-4">
                  <label class="form-control-label">Torre</label>
                  <select class="form-control form-control-success form-control-danger" 
                  (change)="getApartmentByTowerId()" [(ngModel)]="towerId">
                      <option *ngFor="let item of listOfTower" value="{{ item.id }}">{{ item.block }}</option>
                  </select>
              </div>
            </div>
          <table class="table">
              <thead>
                  <tr>
                      <th class="col-sm-1">Número</th>
                      <th class="col-sm-4">Prédio</th>
                      <th class="col-sm-1">Andar</th>
                      <th></th>
                  </tr>
              </thead>
              <br>
              <tbody>
                  <tr  *ngFor="let apartment of listOfApartment">
                      <td>{{ apartment.number }}</td>
                      <td>{{ apartment.tower.block }}</td>
                      <td>{{ apartment.floor }}</td>
                      <td>
                          <a class="btn btn-outline-warning my-2 my-sm-0" href="#" role="button" 
                          [routerLink]="['/apartment/apartmentEdit', apartment.id]">Editar</a>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>