<div class="container" style=" padding: 25px ">
  
    <div class="card mb-3" style=" padding: 25px ">
      <div class="card-block table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Condominio</th>
              <th>Apartamento</th>
              <th>Telefone</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Fabio</td>
              <td>teste</td>
              <td>06</td>
              <td>(11) 98236-2846</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
  </div>