<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>

        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('comdominum')">
                <span>
                    <i class="fa fa-plus"></i>&nbsp; {{ 'Condomínio' | translate }}
                </span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'comdominum'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/condominium/condominiumList" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Condomínios' | translate }}
                        </a>
                    </li>
                    <li>
                        <a routerLink="/tower/towerList" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Torres' | translate }}
                        </a>
                    </li>                    
                    <li>
                        <a routerLink="/apartment/apartmentList" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Apartamentos' | translate }}
                        </a>
                    </li>
                    <li>
                        <a routerLink="/resident/residentList" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Moradores' | translate }}
                        </a>
                    </li>
                    <li>
                        <a routerLink="/commonarea/commonareaList" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Área Comum' | translate }}
                        </a>
                    </li>
                </ul>
            </li>
        </div>

        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('services')">
                <span>
                    <i class="fa fa-plus"></i>&nbsp; {{ 'Serviços' | translate }}
                </span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'services'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/company/companyList" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Empresas' | translate }}
                        </a>
                    </li>
                    <li>
                        <a routerLink="/employee/employeeList" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Funcionários' | translate }}
                        </a>
                    </li>
                </ul>
            </li>
        </div>

        <a routerLink="/schedule/scheduleList" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Reservas' | translate }}
        </a>

        <a routerLink="/notices" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'NotíciasTeste' | translate }}
        </a>

        <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Charts' | translate }}
        </a>

        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Tables' | translate }}
        </a>

        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Forms' | translate }}
        </a>

        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Boostrap Element' | translate }}
        </a>

        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'Boostrap Grid' | translate }}
        </a>

        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>&nbsp;{{ 'Component' | translate }}
        </a>

        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span>
                    <i class="fa fa-plus"></i>&nbsp; {{ 'Menu Teste' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/company" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'EmpresasTeste' | translate }}
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        
        <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'Blank Page' | translate }}
        </a>
        <a class="list-group-item more-themes" href="http://www.strapui.com/">
            {{ 'More Theme' | translate }}
        </a>
    </ul>
</nav>