<div class="row">
    <div class="col-lg-6">
        <div class="card mb-4">
            <div class="card-header">Data</div>
            <div class="card-block">
                <form class="form-inline mb-4">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" placeholder=""
                                name="dp" [(ngModel)]="date" ngbDatepicker #dt="ngbDatepicker">
                            <div class="input-group-addon" (click)="dt.toggle()">
                                <span class="fa fa-calendar"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="card">
        <div class="card-header">Horário inicial</div>
        <div class="card-block">
            <ngb-timepicker [(ngModel)]="startTime"></ngb-timepicker>
        </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
        <div class="card-header">Horário Final</div>
        <div class="card-block">
            <ngb-timepicker [(ngModel)]="finishTime"></ngb-timepicker>
        </div>
    </div>
  </div>
</div>
