<div class="col-sm-10 grid">
    <div class="card mb-2">
        <div class="card-header">
            Funcionários
        </div>
        <div class="card-block table-responsive">
            <div class="row">
                <div class="col-sm-8">
                    <input class="form-control" type="text" placeholder="Search">
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>nome</th>
                    </tr>
                </thead>
                <br>
                <tbody *ngFor="let employee of employeeList">
                    <tr>
                        <th scope="row">{{employee.id}}</th>
                        <td class="col-sm-2">{{employee.name}}</td>
                        <td>
                            <a class="btn btn-outline-warning my-2 my-sm-0" href="#" role="button" 
                            [routerLink]="['/employee/employeeEdit', employee.id]">Editar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
