<div class="container">
    <form [formGroup]="residentForm">
        <fieldset>
            <legend>Dados Morador</legend>
            <div>
                <div class="row col-sm-8" [ngClass]="applyCss('name')">
                    <label class="form-control-label">Nome</label>
                    <input type="text" id="name" placeholder=""
                    class="form-control form-control-success form-control-danger"
                    formControlName="name">
                </div>
                <div class="row col-sm-6" [ngClass]="applyCss('cpf')">
                    <label class=" form-control-label ">Cpf</label>
                    <input type="text" maxlength="8" id="cpf" placeholder=""
                    class="form-control form-control-success form-control-danger"
                    formControlName="cpf">
                </div>
                <div class="row col-sm-8" [ngClass]="applyCss('email')">
                    <label class="form-control-label">Email</label>
                    <input type="email" id="email" placeholder=""
                    class="form-control form-control-success form-control-danger"
                    formControlName="email">
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Telefone</legend>
            <div class="row">
                    <div  class="col-sm-2" [ngClass]="applyCss('dddComercialPhone')">
                        <label class="form-control-label">DDD</label>
                        <input type="text" maxlength="2" id="dddComercialPhone" placeholder=""
                        class="form-control form-control-success form-control-danger" 
                        formControlName="dddComercialPhone">
                    </div>
                    <div class="col-sm-3" [ngClass]="applyCss('comercialPhone')">
                        <label class="form-control-label">Comercial</label>
                        <input type="text" maxlength="8" id="comercialPhone" placeholder="" 
                        class="form-control form-control-success form-control-danger" 
                        formControlName="comercialPhone">
                    </div>
                    <div class="col-sm-2" [ngClass]="applyCss('dddCellPhone')">
                        <label class="form-control-label">DDD</label>
                        <input type="text" maxlength="2" id="dddCellPhone" placeholder=""
                        class="form-control form-control-success form-control-danger"
                        formControlName="dddCellPhone">
                    </div>
                    <div class="col-sm-3" [ngClass]="applyCss('cellPhone')">
                        <label class="form-control-label">Celular</label>
                        <input type="text" maxlength="9" id="cellPhone" placeholder=""
                        class="form-control form-control-success form-control-danger"
                        formControlName="cellPhone">
                    </div>
            </div>
        </fieldset>        
        <div style=" margin-top: 10px; ">
            <button type="submit" class=" btn btn-outline-primary btn-lg my-2 my-sm-0 col-sm-2"
            [disabled]="!residentForm.valid"
            (click)="onSubmit()">salvar</button>
        </div>
    </form>
  </div>
  