<div class="container">

  <form  class="col-sm-10" [formGroup]="towerForm">

    <fieldset>
      <legend>Dados Torre</legend>
      
      <div class="row col-sm-4" [ngClass]="applyCss('condominiumId')">
          <label class="form-control-label">Condomínio</label>
          <select class="form-control form-control-success form-control-danger" formControlName="condominiumId">
            <option *ngFor="let item of listOfCondominium" value="{{ item.id }}">{{ item.name }}</option>
          </select>
      </div>
      <div class="row">
        <div class="col-sm-6" [ngClass]="applyCss('block')">
          <label class="form-control-label">Nome</label>
          <input type="text" id="block" placeholder="" 
          class="form-control form-control-success form-control-danger" formControlName="block">
        </div>
        <div class="col-sm-4" [ngClass]="applyCss('apartmentNumber')">
          <label class="form-control-label">Qtd Apartamentos</label>
          <input type="text" id="apartmentNumber" placeholder="" 
          class="form-control form-control-success form-control-danger" formControlName="apartmentNumber">
        </div>
      </div>

    </fieldset>

    <div style=" margin-top: 10px; ">
      <button type="submit" class=" btn btn-outline-primary btn-lg my-2 my-sm-0 col-sm-2" 
      [disabled]="!towerForm.valid" (click)="onSubmit()">Salvar</button>
    </div>

  </form>
</div>