<div class="modal-dialog">
  <section class="container-popup">
    <div class="box-popup">
      <div class="modal-content">
        <div class="">
          <div class="titulo">
            <div>
              <h2 class="modal-title"><strong>{{ title || 'Confirm' }}</strong></h2>
            </div>
            <div>
              <a (click)="close()"><img src="./assets/icons/icon-fechar.svg" width="20px" height="auto"></a>
            </div>
          </div>
          <div class="custom">
            <hr>
          </div>
        </div>
        <div class="">
          <div class="conteudo">
            <div class="popup-texto">
              <p align="justify" [innerHTML]="message || 'Message'">
              </p>
            </div>
          </div>
        </div>
        <div class="">
          <div class="footer-popup">
            <button type="button" class="botao botao-primario" (click)="confirm()">Ok</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>